---
import { Container } from './container';
import Lines from './lines.astro';
import { Logo } from './logo';
import { ShinyText } from './shiny-text';
import { Link } from './link';
---

<div class="hidden">
  <Container>
    <section class="hero">
      <Lines />
      <Logo client:load />
      <h1>
        The <i><ShinyText text="Ultimate" /></i> Resource<br />
        <span>for</span> Design
        <i>Engineers.</i>
      </h1>
      <p class="desc">
        Curated by design engineers;
        <br /><span>—</span> for design engineers.
      </p>
      <div class="links">
        <Link text="Source Code" url="https://github.com/remvze/desengs" />
        <Link text="Buy Me a Coffee" url="https://buymeacoffee.com/remvze" />
      </div>
    </section>
  </Container>
</div>

<style>
  .hidden {
    position: relative;
    overflow: hidden;
  }

  .hero {
    padding: 150px 0 50px;

    & h1 {
      font-family: var(--font-display);
      font-size: var(--font-2xlg);
      line-height: 1.2;
      color: var(--color-foreground);

      & span {
        font-size: var(--font-lg);
      }

      & i {
        font-style: italic;
      }
    }

    & .desc {
      margin-top: 24px;
      line-height: 1.5;
      color: var(--color-foreground-subtle);

      & span {
        color: var(--color-foreground-subtler);
      }
    }

    & .links {
      display: flex;
      gap: 8px;
      margin-top: 28px;
    }
  }
</style>
