.sponsors {
  margin-top: 28px;

  & .title {
    margin-bottom: 8px;
    font-size: var(--font-xsm);
    color: var(--color-foreground-subtler);
  }

  & .items {
    list-style: none;

    & a {
      display: inline-flex;
      gap: 8px;
      align-items: center;
      text-decoration: none;

      &:hover {
        & img {
          border-color: var(--color-neutral-300);
        }

        & p {
          & span {
            transform: translate(2px, -2px);
          }
        }
      }

      & img {
        width: 28px;
        height: 28px;
        border: 1px solid var(--color-neutral-200);
        border-radius: 8px;
        transition: border-color 0.2s;
      }

      & p {
        font-size: var(--font-xsm);
        color: var(--color-foreground);

        & span {
          display: inline-flex;
          align-items: center;
          height: 1lh;
          font-size: var(--font-sm);
          color: var(--color-foreground-subtler);
          vertical-align: middle;
          transition: transform 0.2s;
        }
      }
    }
  }
}

.tooltip {
  padding: 6px 10px;
  font-size: var(--font-xsm);
  line-height: 1;
  color: var(--color-foreground);
  pointer-events: none;
  background: var(--color-neutral-100);
  border: 1px solid var(--color-neutral-200);
  border-radius: 6px;
}

.tooltipArrow {
  width: 8px;
  height: 4px;
  fill: var(--color-neutral-900);
}
